<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "style.css"/>
        <title>Task1</title>
    </head>

    <body>
        <div className="grid-container">
            <header className="header">
                <div className="brand">
                    <a href="index.html">Shopping Cart</a>
                </div>
                <div className="header-links">
                    <a href="cart.html">Cart</a>
                </div>
            </header>
            <main className="main">
                <div className="content">
                    <ul className="products">
                        <li>
                            <div className="product">
                                <img className="product-image" src="/images/example.jpeg" alt="product1"/>
                                <div className="product-name">
                                    <a href="product.html">Casual Shirt</a>
                                </div>
                                <div className="product-brand">Mizago</div>
                                <div className="product-price">$70</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </main>
            <footer className="footer">
                Innovate
            </footer>
        </div>
    </body>
</html>